<h3>Increíbles ciudades para visitar</h3>
<table class="table">
  <thead>
   
  </thead>
  <tbody>
    <tr>
      <th>
      	<div class="card" style="width: 18rem;">
		  <img src="../../../assets/images/dubai.jpg" class="card-img-top" alt="...">
		  <div class="card-body">
		    <p class="card-text">Dubái es uno de los siete emiratos que conforman los Emiratos Árabes Unidos, cuya capital es la ciudad homónima. </p>
		  </div>
		</div>
     </th>
      <td>
      	<div class="card" style="width: 18rem;">
		  <img src="../../../assets/images/londres.jpg" class="card-img-top" alt="...">
		  <div class="card-body">
		    <p class="card-text">Londres es la capital y mayor ciudad de Inglaterra y del Reino Unido.4​5​ Situada a orillas del río Támesis.</p>
		  </div>
		</div>
      </td>
      <td>
      	<div class="card" style="width: 18rem;">
		  <img src="../../../assets/images/sidnay.jpg" class="card-img-top" alt="...">
		  <div class="card-body">
		    <p class="card-text">Sydney es la ciudad más grande y poblada de Australia y Oceanía, con una población en su área metropolitana cercana a los 4,92 millones.</p>
		  </div>
		</div>
     
    </tr>
  </tbody>
</table>